{{!
// This file is part of Multi-tenancy plugin for Moodle™.
// phpcs:disable moodle.Files.BoilerplateComment.CommentEndedTooSoon

@copyright   2025 Petr Skoda
@license     https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

}}
{{#url}}
<div>
<span id="tool_mutenancy_ti_{{uniqid}}">{{url}}</span>
<a href="#"
        data-action="copytoclipboard" data-clipboard-target="#tool_mutenancy_ti_{{uniqid}}"
        data-clipboard-success-message="{{#str}}textcopiedtoclipboard{{/str}}">
    {{#pix}}t/copy, core{{/pix}} {{copylabel}}
</a>
</div>
{{#js}}
    require(['core/copy_to_clipboard']);
{{/js}}
{{/url}}
